mixin ProductBox( product )
    - let webpPath = "./img/boxs/webp/" + product.imageName + '.webp'
    - let normalPath = "./img/boxs/jpg/" + product.imageName + '.jpg'
    - let spanId = `${product.id}-question-circle`
    - let targetId = `${product.id}-pack-tags`

    .product-box-wrapper
        .product-box
            figure.image
                picture
                    source(srcset=webpPath type="image/webp")
                    source(srcset=normalPath type="image/png")
                    img(src=normalPath alt=product.altText)
                figcaption
                    .product-details
                        h1.product-title
                            | #{ product.title }
                        if product.tag
                            p.tag.is-warning.product-edition
                                | #{ product.tag }
                        
                                if product.items.length > 0
                                    span.icon(id=spanId)
                                        i.icon-question-circle
                        
                        if product.items.length > 0
                            .tags(id=targetId)
                                each item in product.items
                                    span.tag.is-black.is-light #{ item }
                        span.price.has-top-margin.has-bottom-margin  ₹ #{ product.price }

                        if product.extraDetails
                            p.extra-details.has-top-margin.has-bottom-margin
                                | #{ product.extraDetails }

                    a.button.kku-button.buy-now(href= product.paymentLink) Buy Now