<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Social Metatags -->
		<meta property="og:title" content="{{ title }}" />
		<meta
			property="og:description"
			content="{{ description }}"
		/>
		<meta
			property="og:image"
			content="{{ openGraphImageUrl }}"
		/>
		<meta
			property="og:url"
			content="{{ openGraphUrl }}"
		/>

		<meta name="twitter:card" content="summary_large_image" />

		<meta
			name="description"
			content="{{ description }}"
		/>
		<link
			rel="stylesheet"
			href="../css/bulma.min.css"
		/>

		<link rel="stylesheet" href="./../css/blog.css" />
		<link rel="stylesheet" href="./../css/post.css" />
		<link rel="stylesheet" href="../../fonts/icons.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@400;700&display=swap"
			rel="stylesheet" />

		<!-- Global site tag (gtag.js) - Google Analytics -->

		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=UA-176453738-2"
		></script>

		<script>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag('js', new Date())

			gtag('config', 'UA-176453738-2')
		</script>

		<title>
			Keep Kerala United | Gift Boxes To Support Struggling Small
			Bussinesses
		</title>
	</head>
	<body>
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-two-thirds">
					<div class="blog-posts-wrapper section">
						<div class="blog-header small-margin-bottom">
							<div class="post-links small-margin-bottom">
								<a href="/blog"> ⬅ Home </a>
							</div>
							<h1 class="kku-blog-title no-underline">
								{{!-- The Why of Keep Kerala United --}}
                                {{ blogTitle }}
							</h1>
						</div>
						<div class="blog-content">
							{{> @partial-block }}
						</div>
					</div>
					<!-- <div class="kku-footer section">
						<p>For any queries, please feel to contact</p>
						<a href="mailto:keepkeralaunited@gmail.com"
							>keepkeralaunited@gmail.com</a
						>
						<div class="footer-actions">
							<a
								class="kku-actions-link"
								href="https://keepkeralaunited.typeform.com/to/pQOBXXfn"
								>Register As A Volunteer</a
							>
							<a
								class="kku-actions-link"
								href="https://keepkeralaunited.typeform.com/to/imhgampG"
								>Register Your Bussiness With Us
							</a>
						</div>

						<div class="social">
							<a href="https://instagram.com/keepkeralaunited">
								<span class="icon">
									<i class="icon-instagram"></i>
								</span>
							</a>
							<a href="https://facebook.com/keepkeralaunited">
								<span class="icon">
									<i class="icon-facebook-square"></i>
								</span>
							</a>
							<a href="https://twitter.com/KeepKerala">
								<span class="icon">
									<i class="icon-twitter"></i>
								</span>
							</a>
							<a href="https://wa.me/918086857986">
								<span class="icon">
									<i class="icon-whatsapp"></i>
								</span>
							</a>
							<a
								href="https://www.youtube.com/channel/UCCqEugYXGaDz3anULasIHeg"
							>
								<span class="icon">
									<i class="icon-youtube"></i>
								</span>
							</a>
						</div>
						<p class="is-size-7">Made with ❤ in Kerala</p>
					</div> -->
				</div>
			</div>
		</div>
	</body>
</html>
